.contenedor
{
    display: flex;
    padding: 5px;
    margin: 5px;
    flex-direction: row-reverses;
}

header
{
    background-color: gray;
    padding: 20px;
}
nav
{
    background-color: darkslategray;
    color: white;
    padding: 8px;
}
section
{
    
    background-color: burlywood;
    padding: 5px;
}

footer
{
    background-color: black;
    color: wheat;
    padding: 10px;
}
aside
{
    border-width: 1px;
    border-style: solid;
    margin:5px ;
    padding: 5px;
   
}

.seccion
{
    border-width: 1px;
    border-style: solid;
    margin:5px ;
    padding: 5px;
}